nav {
}
body {
  background-image: url("../images/bgo.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;

  /* background: #000; */
}
.btn-c {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index-btn {
  width: 280px;
  height: 280px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(0, 0, 0);
  background-color: rgb(100, 100, 100, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  transition: 0.5s;
}

.index-btn:hover {
  transform: scale(1.1);
}
.index-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #5a0404,
    #9e4a05,
    #742345,
    #220257,
    #53054d,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  border-radius: 50%;
}

.index-btn:active {
  color: #000;
}

.index-btn:active:after {
  background: transparent;
}

.index-btn:before {
  opacity: 1;
}

.index-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  background-color: rgb(100, 100, 100, 0.5);

  left: 0;
  top: 0;
  border-radius: 10px;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.index-img {
  width: auto;
  height: 60vh;
  margin-top: 20vh;
  margin-left: 50%;
  transform: translateX(-50%);
}
.nav-item {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
.home-name {
  font-size: 2rem;
  margin: 1.5rem 0rem;
  text-align: center;
  color: white;
  font-weight: 700;
}
.home-about {
  width: 90%;
  margin-left: 5%;
  background-color: rgb(100, 100, 100, 0.5);
  border-radius: 15px;
  padding: 1.5rem 3rem;
  color: white;
  margin-bottom: 2rem;
  border-radius: 10px;
  /* border: 1px solid white; */
}
.home-about p {
  text-align: center;
}
.what-row {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.what-card {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0.5rem 1rem;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0rem 3.5rem;
}

.what-h {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
  transform: translateY(-50%);
}
/* #w1 {
  background-color: rgba(92, 92, 92, 0.5);
  background-color: rgba(244, 255, 180, 0.5);
}
#w2 {
  background-color: rgba(146, 146, 146, 0.5);
  background-color: rgba(152, 255, 143, 0.5);
}
#w3 {
  background-color: rgba(177, 177, 177, 0.5);
  background-color: rgba(92, 92, 92, 0.5);
  background-color: rgba(253, 169, 148, 0.5);
} */

#w1,#w2,#w3{
  background-image: url('../images/circle.png');
  background-position: 0%;
  background-size:cover;
  /* background-size: 100% 100%; */
  color: #000;
}
.what-h{
  color: #000;
}
.form-box {
  width: 30rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgb(100, 100, 100, 0.5);
  margin-left: 50%;
  transform: translateX(-50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

.form-text {
  width: 80%;
  margin-left: 10%;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin-bottom: 1.5rem;
}

.form-text::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.form-text option {
  background-color: rgba(0, 0, 0, 0.7);
}

#av-name {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0rem;
}
#av-img {
  width: 20rem;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}
#av-div {
  visibility: hidden;
  display: none;
}

#avatar-h {
  font-size: 2.25rem;
  color: white;
  text-align: center;
  margin: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.avatar-sh {
  text-align: center;
  font-size: 0.9rem;
  color: white;
  margin: 0.5rem;
  margin-bottom: 1rem;
}
.form-submit {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}
.form-submit:hover {
  cursor: pointer;
}

.m-card {
  width: 25rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(50, 50, 50, 0.5);
  margin: 1rem 2.5rem;
  display: inline-block;
}
.mc-img {
  width: 100%;
  height: 13rem;
}
.mc-cont {
  text-align: center;
  align-items: center;
  justify-content: cente;
}

.mc-name {
  color: white;
  text-align: center;
  margin: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
}

.mc-price {
  color: rgba(255, 255, 255, 0.822);
  text-align: center;
}
.mc-about {
  text-align: left;
  color: white;
  font-size: 0.9rem;
  margin: 0.5rem 0rem;
}

.mc-btn {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.25rem;
  font-size: 1.05rem;
}
.mc-btn:hover {
  cursor: pointer;
}

.cart-row {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.cart-row {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(146, 146, 146, 0.5);
}

.cart-content {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.cart-item {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 1.5rem;
}
.total-row{
    font-size: 1.2rem;
    padding: 1rem;
    border-top: 1px solid rgba(146, 146, 146, 0.5);
}
.del-btn {
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}
.del-btn:hover {
  cursor: pointer;
}
.heading {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right, #095fab 10%, #25abe8 50%, #57d75b 60%);
background: linear-gradient(to right, #ffffff8e 10%, #8c5bbb 50%, #580258 60%);


  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: indexanim 1.5s linear infinite;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
}

@keyframes indexanim {
    to {
    background-position: 100% center;
    }
    }

    .nav-logo{
      width: 50px;
      height: 50px;
    }



    .av-text{
      color: white;
      text-align: center;
      font-size: 1.2rem;
      margin-top: 2rem;
    }

    .reset-btn{
      padding: 0.5rem 1.5rem;
      font-size: 1.1rem;
      margin-left: 50%;
      transform: translateX(-50%);
      border: none;
      /* background-color: rgba(146, 146, 146, 0.5); */
      background-color: rgb(100, 100, 100, 0.5);
      border-radius: 10px;
      margin-top: 1rem;
      background-color: rgba(177, 177, 177, 0.5);
    }

    .reset-btn:hover{
      cursor: pointer;
    }

    .carousel{
      width: 45rem;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: -4rem;
    }

    .carousel-item img{
      width: 100%;
      height: 35rem;
    }
    .carousel-item h5{
      font-size: 1.5rem;
      font-weight:700;
    }

    .b-img{
      width: 50%;
      margin-left: 25%;
      margin-top: -5rem;
      height: 40rem;
    }

    .b-content{
      text-align: center;
      color: white;
      margin-top: -3rem;
    }
    .b-name{
      font-size: 3rem;
      font-weight: 700;
    }
    .b-text{
      font-size: 1.1rem;
      width: 60%;
      margin-left: 20%;
      text-align: left;
    }
    .b-text p{
      margin-top: 1.5rem;
    }

.home-logo{
  width: 70px;
  height: 70px;
}

.home-subh{
  font-size: 1.3rem;
  margin: 1rem 0rem;
  text-align: center;
  color: white;
  font-style: italic;
  margin-bottom: 5rem;
}

.robotL{
  position: absolute;
  left: 10px;
  height: 10rem;
  animation-name: moveLeft;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes moveLeft {
  0% { -webkit-transform: translateX(0px); }
  50% { -webkit-transform: translateX(300%); }
  100% { -webkit-transform: translateX(0%); }

}
@keyframes moveRight {
  0% { -webkit-transform: translateX(0px); }
  50% { -webkit-transform: translateX(-300%); }
  100% { -webkit-transform: translateX(0%); }

}
.robotR{
  position: absolute;
  right: 10px;
  height: 10rem;
  animation-name: moveRight;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.b-source{
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline;

}
.b-source a{
  color: white;
}
.search-shop{
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2rem;
  background: transparent;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 15px;
}

.search-shop::placeholder{
  color: rgba(255, 255, 255, 0.788);
}